.ant-layout {
  min-height: 100vh !important;
}

.ant-card {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .ant-card-head {
    flex: 0;
  }
  .ant-card-body {
    flex: 1;
  }
}
