.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  & > div {
    margin: 20px;
  }
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
#root {
  min-height: 100%;
}
.ant-layout.layout {
  min-height: 100vh;
}
